<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>购买客服系统-在线客服系统-客服系统源码-GOFLY官网</title>
    <meta name="keywords" content="在线客服系统,在线客服代码,客服系统源码,网页聊天工具,免费在线客服，开源在线客服,网站客服系统" />
    <meta name="description" content="GOFLY客服,GO-FLY开源客服，一套可独立私有化部署的免费开源客服系统，网站在线客服系统，下载zip解压即可，仅依赖MySQL数据库，是一个开箱即用的网页在线客服，适合PHP程序员使用，同时也是首页完全可以编辑的单页营销系统." />

    {{template "index-meta" .}}
</head>
<body class="main">

{{template "index-nav" .}}
<div class="container">
    <div class="subTitle  margin-top90">
        <h2 class="mb-2">联系我们</h2>
        <p>联系体验平台功能/部署独立客服系统！</p>
    </div>
    <div class="product mainIntro">
        <h3 class="pt-3 pb-3 mb-2">联系</h3>

        <p>既然是开发客服系统，肯定右边在线客服就能联系到我！</p>
        <p>防止遗忘，可以扫码加下面开发者微信，也可以加QQ: 630892807</p>
        <p><img src="/static/images/wechat.jpg" width="200px"/></p>
        <br/>
        <p>找不到本网站？直接搜索 <a target="_blank" href="">gofly</a> 或
            <a target="_blank" href="">gofly在线客服</a>，
            域名为 <a href="">gofly.sopans.com</a> </p>
        <p>本系统是原创开发，非源码倒卖，已注册软件著作权享有全部权利</p>
    </div>
</div>
{{template "footer" .}}