<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>下载在线客服系统-在线客服系统-客服系统源码-GOFLY官网</title>
    <meta name="keywords" content="在线客服系统,在线客服代码,客服系统源码,网页聊天工具,免费在线客服，开源在线客服,网站客服系统" />
    <meta name="description" content="GOFLY客服,GO-FLY开源客服，一套可独立私有化部署的免费开源客服系统，网站在线客服系统，下载zip解压即可，仅依赖MySQL数据库，是一个开箱即用的网页在线客服，适合PHP程序员使用，同时也是首页完全可以编辑的单页营销系统." />

    {{template "index-meta" .}}
</head>
<body class="main">

{{template "index-nav" .}}
<div class="container">
    <div class="subTitle  margin-top90">
        <h2 class="mb-2">下载中心</h2>
        <p>免费下载GOFLY体验全部功能！</p>
    </div>
    <div class="product mainIntro">
        <h3 class="pt-3 pb-3 mb-2">下载</h3>
        <p>近期发现有人拿测试包去给其他人安装部署，付款后联系不上，现只提供windows安装测试版进行本地测试。如需测试请联系官方客服或加微信。</p>
            <h4 class="pt-3 pb-3 mb-2">Windows安装包</h4>
        <p>
            <a class="btn btn-info  useBtn me-3" href="https://wws.lanzouq.com/itKit00cmt1a" target="_blank"><i class="bi bi-display me-1"></i> GOFLY-WINDOWS-0.6.0
            </a>
        </p>



    </div>
</div>
{{template "footer" .}}