{{define "footer"}}



    <footer class="footer" style="clear:both">
        <div class="container">
            <div class="row">
                <ul class="col-6 col-md-3">
                    <li class="f-tit">GOFLY</li>
                    <li><a href="/aboutus.html">关于我们</a></li>
                    <li><a href="/contact.html">联系我们</a></li>
                    <li><a href="/sitemap.html">站点地图</a></li>
                    <li><a href="/sitemap.xml">sitemap.xml</a></li>
                </ul>
                <ul class="col-6 col-md-3">
                    <li class="f-tit">服务支持</li>
                    <li><a href="/document.html">文档中心</a></li>
                    <li><a href="/contact.html">联系我们</a></li>
                    <li><a href="/kfxieyi.html">开发协议</a></li>
                    <li><a href="/yhxieyi.html">用户协议</a></li>
                </ul>
                <ul class="col-6 col-md-3">
                    <li class="f-tit">友情连接</li>
                    <li><a href="/zxkfxt.html">在线客服系统</a></li>
                    <li><a href="/wzkfxt.html">网站客服系统</a></li>
                    <li><a href="/wyltgj.html">网页聊天工具</a></li>
                    <li><a href="/mfzxkf.html">免费在线客服</a></li>
                </ul>
                <ul class="col-6 col-md-3">
                    <li style="word-break: break-all;white-space:normal">GOFLY是一款基于Golang+Vue开发的在线客服系统，软件著作权编号：2021SR1462600。一套可私有化部署的在线客服系统，编译后的二进制文件可直接使用无需搭开发环境，下载zip解压即可，仅依赖MySQL数据库，是一个开箱即用的网页在线客服系统，致力于帮助广大开发者/中小站长快速整合私有客服功能。</li>
                </ul>
            </div>
        </div>
        <p class="address">
            Copyright&nbsp;©&nbsp;2020-2022 gofly.sopans.com All rights reserved GOFLY在线客服系统 版权所有
            <a href="/static/images/zhuzuo.jpg" target="_blank">GOFLY著作权</a>
            版本:V0.6.0
            <a href="https://beian.miit.gov.cn" target="_blank">京ICP备17033956号</a>
        </p>

    </footer>
    </body>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/script.js"></script>
    </html>
{{ end }}