{{define "index-nav"}}
    <nav class="tsh-nav navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi bi-chat-square-dots ms-1"></i>
                GOFLY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-lg-5">
                    <li class="nav-item">
                        <a href="/">首页</a>
                    </li>
                    <li class="nav-item">
                        <a href="/show.html">演示</a>
                    </li>
                    <li class="nav-item">
                        <a href="/download.html">下载</a>
                    </li>
                    <li class="nav-item">
                        <a href="/install.html">部署</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" target="_blank">后台</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://docs.apipost.cn/preview/55d932553098ac10/bfc995153a8ef5c4" target="_blank">接口文档</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.cnblogs.com/taoshihan" target="_blank">博客</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact.html">联系</a>
                    </li>
                    <li class="nav-item">
                        <a href="/index?lang=en" target="_blank">English</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
{{ end }}